@font-face {
  font-family: "euclid_circular_a_regular";
  src: url("../fonts/euclid_circular_a_regular.woff2") format("woff2"),
    url("../fonts/euclid_circular_a_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "euclid_circular_a_bold";
  src: url("../fonts/euclid_circular_a_bold.woff2") format("woff2"),
    url("../fonts/euclid_circular_a_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "euclid_circular_a_semibold";
  src: url("../fonts/euclid_circular_a_semibold.woff2") format("woff2"),
    url("../fonts/euclid_circular_a_semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
