.main {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 0px 0px 80px 80px;
}

.section {
  display: block;
  position: relative;
  width: 100%;
}

.container {
  display: block;
  width: 100%;
  margin: 0 auto;

  max-width: 1440px;
  padding: 0px 40px;
}

// -------------------------- HERO
#hero {
  padding-top: 56px;
}

.hero__headline {
  display: inline-block;
  position: relative;
  font-family: var(--regular);
  font-size: 57.5px;
  line-height: auto;
  padding: 12px 94px 12px 20px;
  top: -85px;
  span {
    position: relative;
    z-index: 2;
    color: var(--primary-color);
    span {
      font-size: 35px;
      padding-left: 20px;
      font-family: var(--semibold);
    }
  }
  &:before {
    content: '';
    display: block;
    width: 50vw;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px 80px 80px 0px;
    background: linear-gradient(6deg, rgba(136, 187, 208, 1) 28%, rgba(255, 255, 255, 1) 68%);
    z-index: 0;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 50vw;
    right: 4px;
    top: 4px;
    bottom: 4px;
    border-radius: 0px 80px 80px 0px;
    background: #aee1ee url('../img/vawes/hero_vawe.svg') no-repeat right center/auto 100%;
    z-index: 1;
  }
}

.hero-image {
  display: block;
  position: relative;
}

.hero_product_image {
  position: absolute;
  right: 6%;
  bottom: -10%;
  height: 68.4%;
}

//-----------------------------ABOUT US

#about {
  padding-top: 70px;
  padding-bottom: 200px;
  .grid {
    margin-top: 100px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -120px;
      top: -90px;
      width: 392px;
      height: 434px;
      background: url('../img/aboutus.webp') no-repeat center center/cover;
      z-index: 0;
    }
  }
  .about-cart {
    min-height: 470px;
  }
}

.about-cart {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: var(--blue-color);
  color: var(--primary-color);
  padding: 40px;
  gap: 20px;
  border-radius: 50px;
  transition: background-color 0.3s;

  > * {
    z-index: 1;
  }
  .title {
    margin-bottom: auto;
    transition: color 0.3s;
  }
  .about-cart__image {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    z-index: 0;
    img {
      height: 100%;
    }
  }

  p {
    letter-spacing: -0.03em;
    padding-right: 20px;
  }
}

// -------------------- EXPERTS

#experts {
  padding: 6vw 0px 230px 0px;
  margin-top: -80px;
  background: url('../img/vawes/expert_vawe.svg') no-repeat top center/100% auto;
}

.swiper-button-prev.arrow.experts-prev,
.swiper-button-next.arrow.experts-next {
  margin-top: 50px;
  background: rgba(0, 46, 109, 0.1);
  svg {
    fill: var(--primary-color);
  }
  &:hover {
    background: rgba(0, 46, 109, 1);
    svg {
      fill: var(--white);
    }
  }
}

.expert-cart {
  text-align: center;
  margin: 0 auto;
  max-width: 840px;
  color: var(--primary-color);
  transition: opacity 0.6s;
  opacity: 0;
}

.swiper-slide-active {
  .expert-cart {
    opacity: 1;
  }
}

.expert-cart__image {
  width: 175px;
  height: 175px;
  border-radius: 175px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
  }
}

.regalia {
  span {
    display: block;
    width: 100%;
  }
}

// -------------------- WHY US

#whyus {
  padding: 10vw 0px 300px 0px;
  margin-top: -150px;
  background: url('../img/vawes/whyus_vawe.svg') no-repeat top center/100% auto;
  color: var(--primary-color);
  .container > .title {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
  }
  .grid {
    margin-top: 50px;
  }

  .about-cart {
    min-height: 310px;
    p {
      color: var(--white);
      position: relative;
      transform: translate(0px, 10px);
      transition: 0.3s;
      opacity: 0;
    }
    .about-cart__image {
      transition: 0.3s;
      opacity: 1;
    }
    .title {
      max-width: 50%;
    }
    &:hover {
      background: var(--sea-color);
      color: var(--white);
      .about-cart__image {
        opacity: 0;
      }
      p {
        opacity: 1;
        transform: translate(0px, 0px);
      }
    }
  }
}

// -------------------- PRODUCTS

#products {
  padding: 10vw 0px 220px 0px;
  margin-top: -150px;
  background: url('../img/vawes/products_vawe.svg') no-repeat top center/100% auto;
  color: var(--white);
  min-height: 900px;
  .container > .title {
    text-align: center;
    margin: 0 auto;
  }
}

.swiper--products {
  margin-top: 176px;
  .arrow {
    background-color: rgba(255, 255, 255, 0.1);
    &:hover {
      background-color: var(--sea-color);
    }
  }
  .swiper-slide {
    width: 518px;
    min-height: 518px;
    transition: transform 0.6s, opacity 0.6s;
    opacity: 0;
    transform: scale(0.8) translate(0px, 0px);
    z-index: 1;
    &.swiper-slide-active,
    &.swiper-slide-next,
    &.swiper-slide-prev {
      opacity: 1;
    }
    &.swiper-slide-next {
      transform: scale(0.7) translate(-100px, 0px);
    }
    &.swiper-slide-prev {
      transform: scale(0.7) translate(100px, 0px);
    }
    &.swiper-slide-active {
      z-index: 2;
      transform: scale(1) translate(0px, 0px);
      .button {
        opacity: 1;
        pointer-events: all;
      }
      .product-cart__image {
        transform: translate(0px, 0px);
      }
      .product-cart__info {
        opacity: 1;
        transform: translate(0px, 0px);
      }
    }
  }
}

.product-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 50px;
  padding: 50px;
  transition: background-color 0.6s;
  text-align: center;

  .button {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    pointer-events: none;
    transform: translate(0%, 50%);
  }
}

.product-cart__info {
  position: relative;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  transform: translate(0px, 0px);
  transition: height 0.3s, opacity 0.6s ease 0.3s, transform 0.6s ease 0.3s;
  .title {
    opacity: 0.8;
    margin-bottom: 10px;
  }
  p {
    font-size: 35px;
    letter-spacing: -0.03em;
  }
}

.product-cart__image {
  display: flex;
  width: 100%;
  height: 388px;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  margin: -150px 0px 35px 0px;
  transform: translate(0px, 150px);
  transition: 0.6s;
  img {
    max-height: 100%;
  }
}

// -------------------- QUESTION TO EXPERT

#question {
  padding: 13vw 0px 300px 0px;
  margin-top: -150px;
  background: url('../img/vawes/question_vawe.svg') no-repeat top center/100% auto;
  min-height: 900px;
  .container > .title {
    text-align: center;
    margin: 0 auto;
    color: var(--primary-color);
  }
  .grid {
    margin-top: 60px;
  }
  .about-cart {
    background-color: var(--sea-color);
    color: var(--white);
    min-height: 470px;
    > .title {
      max-width: 50%;
    }
    .about-cart__image {
      max-height: 70%;
    }
  }
}

// -------------------- YOUSELF

#youself {
  padding: 10vw 0px 300px 0px;
  margin-top: -150px;
  background: url('../img/vawes/youself_vawe.svg') no-repeat top center/100% auto;
  min-height: 900px;
  .container > .title-box {
    text-align: center;
    max-width: 710px;
    margin: 0 auto;
    color: var(--primary-color);
  }
}

.swiper--youself {
  margin-top: 40px;
  color: var(--primary-color);
}

.youself-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 44px;
  padding: 30px;
  background-color: var(--white);
  transition: 0.6s;
  opacity: 0;
  transform: scale(0.8);

  picture {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 87%;
    overflow: hidden;
    z-index: 1;
    border-radius: 30px;
    margin-bottom: 45px;
    transition: padding-top 0.3s, margin-bottom 0.3s;
    img {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width: 100%;
    }
  }

  .youself-card__info {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 0px;
    flex-direction: column;
    gap: 15px;
    transition: height 0.3s;
    p,
    b {
      letter-spacing: -0.04em;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        background-color: var(--sea-color);
        color: var(--white);
        padding: 18px 30px;
        border-radius: 20px;
      }
    }
  }
  .button {
    margin-top: 15px;
    pointer-events: none;
    opacity: 0;
    transform: translate(0px, -10px);
  }
  .title {
    margin-bottom: 15px;
  }
}

.swiper-slide-active {
  .youself-card {
    transform: scale(1);
    .button {
      pointer-events: all;
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
}

.swiper-slide-active,
.swiper-slide-next,
.swiper-slide-prev {
  .youself-card {
    opacity: 1;
  }
}

// -------------------- INFORMATION

#information {
  padding: 10vw 0px 0px 0px;
  margin-top: -150px;
  background: url('../img/vawes/information_vawe.svg') no-repeat top center/100% auto;
  .container > .title {
    text-align: center;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 75%;
    left: 0px;
    bottom: 0px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 0%, rgba(252, 252, 252, 0) 40%);
  }
}

.information__bg-image {
  position: absolute;
  height: 65%;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.information {
  margin-top: 64px;
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 60px;
  padding-bottom: 144px;
  li {
    width: calc((100% - 60px) / 2);
    &:nth-child(1) {
      .information__item {
        max-width: 438px;
      }
    }
    &:nth-child(2) {
      .information__item {
        margin-left: auto;
        margin-top: 10px;
        img {
          right: auto;
          left: -40px;
          top: -50px;
        }
      }
    }
    &:nth-child(3) {
      .information__item {
        margin: 0 auto;
        img {
          right: auto;
          left: -40px;
          top: -60px;
        }
      }
    }
    &:nth-child(4) {
      .information__item {
        margin: 0 auto;
      }
    }
  }
}

.information__item {
  position: relative;
  color: var(--primary-color);
  background: linear-gradient(45deg, rgba(136, 187, 208, 1) 0%, rgba(255, 255, 255, 1) 100%);
  padding: 50px;
  border-radius: 50px;
  width: 100%;

  max-width: 415px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 45px;
    background-color: var(--blue-color);
  }
  > * {
    position: relative;
    z-index: 2;
  }
  img {
    width: 108px;
    position: absolute;
    right: -40px;
    top: -30px;
  }
}
